<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ asset('/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="{{ asset('/css/microcms.css') }}" rel="stylesheet">
    <link href="{{ asset('/css/landing-page.css') }}" rel="stylesheet">
    <link href="{{ asset('/css/styleFront.css') }}" rel="stylesheet">

    <title>MicroCMS - {% block title %}{% endblock %}</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="{{ path('home') }}">MicroCMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
      {% if is_granted('ROLE_ADMIN') %}
          <li class="{% if adminMenu is defined %}active{% endif %} nav-item"><a href="{{ path('admin') }}" class="nav-link"><span class="glyphicon glyphicon-cog"></span> Administration</a></li>
      {% endif %}
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" class="">
              <span class="glyphicon glyphicon-user"></span>Welcome, {{ app.user.username }}  <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li class="nav-item"><a href="{{ path('logout') }}" class="nav-link">Log out</a></li>
              </ul>
          </li>
      {% else %}
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-user"></span> Not connected <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><a href="{{ path('login') }}">Log in</a></li>
              </ul>
          </li>
      {% endif %}
      </ul>
    </div>
  </nav>
      <div id="content">{% block content %}{% endblock %}</div>
      <footer class="footer col-md-12">
        <div class="container">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#">Home</a>
            </li>
            <li class="footer-menu-divider list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#about">About</a>
            </li>
            <li class="footer-menu-divider list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#services">Services</a>
            </li>
            <li class="footer-menu-divider list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#contact">Contact</a>
            </li>
          </ul>
          <p class="copyright text-muted small">Copyright &copy; Your Company 2017. All Rights Reserved</p>
        </div>
      </footer>

    <!-- jQuery -->
    <script src="{{ asset('/lib/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('/lib/popper/popper.min.js') }}"></script>
    <!-- <script src="{{ asset('/lib/Ajax.JSONRequest/jsonp.js') }}"></script> -->
    <!-- JavaScript Boostrap plugin -->
    <script src="{{ asset('/lib/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('/js/skillGraph.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/lib/datGui/dat.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/lib/chroma/chroma.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/js/chromaWaves.js') }}"></script>
    <script type="text/javascript" src="{{ asset('/js/stars.js') }}"></script>
    <script src="{{ asset('/js/script.js') }}"></script>
</body>
</html>
